body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    background-color: #fafaf9;

    font-family: Pretendard, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.0625em;
    line-height: 1.25;
}

footer {
    position: absolute;
    right: 1em;
    bottom: 1em;
}

h1 {
    font-weight: 100;
    font-size: 4em;
}

a {
    color: inherit;
    text-decoration: none;
}
